{% extends "base.html" %}

{% block content %}
<h1>juju status</h1>
<h2 id="heading">Machines</h2>
<table class="table">
    <thead>
        <tr>
            <td>id</td>
            {% for key, value in data.machines.0.items %}
            <td>{{ key }}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for id, machine in data.machines.items %}
        <tr>
            <td>{{ id }}</td>
            {% for key, value in machine.items %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2 id="heading">Services</h2>
<table class="table">
    <thead>
        <tr>
            <td>id</td>
            {% for key, value in data.services.values.0.values.0.values.0.items %}
                <td>{{ key }}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for name, service  in data.services.items %}
            {% for unit_name, unit in service.units.items %}
                <tr>
                <td>{{ unit_name }}</td>
                {% for key, value in unit.items %}
                    <td>{{ value }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
