{% extends "base.html" %}

{% block content %}
<h1>juju status</h1>
<h2 id="heading">Machines</h2>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>agent state</th>
            <th>instance state</th>
        </tr>
    </thead>
    <tbody>
        {% for machine in machines %}
        <tr class="{% if machine.1 == "running" and machine.2 == "running" %}success{% else %}error{% endif %}">
            <td>{{ machine.0 }}</td>
            <td>{{ machine.1 }}</td>
            <td>{{ machine.2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2 id="heading">Services</h2>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>agent state</th>
        </tr>
    </thead>
    <tbody>
        {% for unit in services %}
        <tr class="{% if unit.1 == "started" %}success{% else %}error{% endif %}">
            <td>{{ unit.0 }}</td>
            <td>{{ unit.1 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
