<h1>juju status</h1>
<h2 id="heading">Machines</h2>
<ul>
    {% for id, machine in data.machines.items %}
    <li>
        <h1>{{ id }}</h1>
        <ul>
        {% for key, value in machine.items %}
            <li>{{ key }} - {{ value }}
        {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
<h2 id="heading">Services</h2>
<ul>
    {% for name, service  in data.services.items %}
    <li>
        <h1>{{ name }}</h1>
        {% for unit_name, unit in service.units.items %}
        <div id="">
            <h2 id="heading">{{ unit_name }}</h2>
            <ul>
            {% for key, value in unit.items %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </li>
    {% endfor %}
</ul>
